{
    "tg_bot_key": "",
    "chat_id": "",
    "farm_interval_minutes": 30,
    "accounts": [
        {
            "name": "account1",
            "credentials": {
                "query": ""
            }
        },
        {
            "name": "account2",
            "credentials": {
                "query": ""
            }
        }
    ]
}
